
.black {
  color:#000;
}

.gold {
  color:#FFD700;
}

.stars {
  float: left;
  display: flex;
  direction: rtl;
}

.stars input {
  display: none;
}

.stars label {
  display: block;
  cursor: pointer;
  color:#000;
}

.stars label:hover,
.stars label:hover ~ label,
.stars input:checked ~ label{
  color:#FFD700;
}
